.toast {
  width: 300px;
  margin: 6px;
  color: black;
  background: #666;
  padding: 6px 16px;
  border-radius: 12px;
  opacity: 1;
  will-change: all;
  transition: all 450ms;
}

.hide {
  opacity: 0;
  transform: translateX(400px);
}

.notice {
  background: white;
}

.notice .icon svg {
  stroke: blue;
}

.warning {
  background: #f9ffb8;
}

.warning .icon svg {
  stroke: #4b4d36;
}

.success {
  background: #b8ffc2;
}

.success .icon svg {
  stroke: green;
}

.error {
  background: #ffc6c4;
}

.error .icon svg {
  stroke: red;
}

.close {
  cursor: pointer;
  padding: 4px 8px;
  margin-right: -8px;
}

.flex {
  gap: 16px;
  display: flex;
  align-items: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
